<head>
  <meta charset="utf-8" />
  <script src="https://js.braintreegateway.com/web/dropin/1.33.2/js/dropin.min.js"></script>
  
</head>
<body>
  <!-- Step one: add an empty container to your page -->
  <form id="payment-form" action="/checkout" method="post">
    <div id="dropin-container"></div>
    <input type="submit" />
    <input type="hidden" id="payment_method_nonce" name="payment_method_nonce" />
    <input type="hidden" id="payment_amount" name="payment_amount"/>
  </form>
  <script type="text/javascript">
    const form = document.getElementById('payment-form');  
    fetch ('/client_token', {method:'post', body: {"customer_id":"seluke_test"}})
    .then((response)=> response.text())
    .then((clientToken) => {
      braintree.dropin.create({

  authorization: clientToken,
  container: '#dropin-container',
  paypal: {
    flow: 'vault'
  },
  venmo: {}
}, (error, dropinInstance) => {
  if (error) console.error(error);

  form.addEventListener('submit', event => {
    event.preventDefault();

    dropinInstance.requestPaymentMethod((error, payload) => {
      if (error) console.error(error);
      // Step four: when the user is ready to complete their
      //   transaction, use the dropinInstance to get a payment
      //   method nonce for the user's selected payment method, then add
      //   it a the hidden field before submitting the complete form to
      //   a server-side integration
      document.getElementById('payment_method_nonce').value = payload.nonce;
      document.getElementById('payment_amount').value = 10;
      form.submit();
    });
  });

  // Use `dropinInstance` here
  // Methods documented at https://braintree.github.io/braintree-web-drop-in/docs/current/Dropin.html
});
    });

  </script>
  <h1>Drop In Test</h1>
</body>
